version: '3.8'
services: 
  node:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: node_container
    ports: 
      - "3000:3000"
    image: node_app
    environment: 
      DATABASE_URL: ${DATABASE_URL}
    volumes:
      - ./:/app

  db:
    image: mongo
    container_name: mongo_db 
    ports: 
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: ${MONGO_INITDB_DATABASE}
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD} 
    volumes:
      - mongo_data:/data/db 

volumes: 
  mongo_data:
    
    
